<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lywva.dstcalculator" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BodyActivity"/>
        <activity android:name=".CalculatorActivity"/>
        <activity android:name=".FinFuncActivity"/>
        <activity android:name=".CapmActivity"/>
        <activity android:name=".AptActivity"/>
        <activity android:name=".FinExpActivity" />
        <activity android:name=".SharpeRatioActivity" />
        <activity android:name=".TreynorRatioActivity"/>
        <activity android:name=".InformationRatioActivity"/>
        <activity android:name=".JensenMeasureActivity"/>
        <activity android:name=".GpaActivity"/>
        <activity android:name=".SoulActivity"/>
    </application>

</manifest>
